* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-color: #efefef;
  font-family: "Fredoka", sans-serif;
  background-image: url(./images/istockphoto-1292919739-612x612.jpg);
}

footer{
  /* position: sticky; */
  position: relative;
  top:30px;
  text-align: center;
  font-size:  30px;
}